.First_Section{
    position: absolute;
    margin: 655px 0px 0px 0px;
}
/*Box Of The Text and Image*/
.Second_class{
    width: 732px;
    height: 637px;
    background: black;
    position: absolute;
    margin: -30px -10px -10px -13px;
}

/*First Title*/
#About_agency {
    position: absolute;
    color: blueviolet;
    font-family: 'Roboto', sans-serif;
    margin: 100px 0px 0px 112px;
    font-size: 52px;
    width: 406px;
}

/*Box Text*/
#Text {
    position: absolute;
    color: white;
    width: 397px;
    margin: 188px 0px 0px 108px;
    letter-spacing: 1px;
    font-size: unset;
    font-style: normal;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
/*Box Image*/
#Second_img {
    width: 535px;
    height: 527px;
    border-radius: 8px;
    box-shadow: 15px 19px 26px -21px #000000b0;
    position: absolute;
    background: url(https://images.unsplash.com/photo-1520085601670-ee14aa5fa3e8?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=750&q=80);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 60px 0px 0px 638px;
}