#ultima {
    width: 100%;
    height: 598px;
    position: absolute;
    background: blueviolet;
    margin: 2923px 0px 0px 0px;
}

.Contact{
    margin: 100px 0px 0px 297px;
    color: white;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 52px;
}

#Email{
    width: 279px;
    height: 30px;
    border-radius: 8px;
    border-style: none;
    margin: 211px 0px 0px 256px;
    background: blueviolet;
    outline: none;
    color: white;
    font-size: medium;
}

#Email::placeholder{
    color: white;
}

.line {
    width: 290px;
    height: 2px;
    border-radius: 2px;
    background: white;
    margin: 253px 0px 0px 258px;
    position: absolute;
}

#Name {
    width: 279px;
    height: 30px;
    border-radius: 8px;
    border-style: none;
    margin: 297px 0px 0px 256px;
    background: blueviolet;
    position: absolute;
    outline: none;
    color: white;
    font-size: medium;
    font-family: 'Roboto', sans-serif;
}

#Name::placeholder{
    color: white;
}

.line-02 {
    width: 290px;
    height: 2px;
    border-radius: 2px;
    background: white;
    margin: 339px 0px 0px 258px;
    position: absolute;
}

#text {
    width: 279px;
    height: 46px;
    border-radius: 8px;
    border-style: none;
    border-color: white;
    margin: 365px 0px 0px 256px;
    background: blueviolet;
    position: absolute;
    outline: none;
    color: white;
    font-size: medium;
}

#text::placeholder{
    color: white;
}

.line-03 {
    width: 290px;
    height: 2px;
    border-radius: 2px;
    background: white;
    margin: 423px 0px 0px 258px;
    position: absolute;
}

#button {
    width: 72px;
    height: 30px;
    margin: 471px 0px 0px 359px;
    background: white;
    border-style: none;
    box-shadow: 0px 11px 9px -7px #ffffffb0;
    position: absolute;
    border-radius: 9px;
    cursor: pointer;
}

.maps {
    width: 482px;
    height: 390px;
    background: url(https://raw.githubusercontent.com/wilkerlisboa/Contact-form/master/Img/image1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    cursor: pointer;
    border-radius: 10px;
    margin: 3044px 0px 0px 674px;
    box-shadow: 2px 9px 60px rgb(0 0 0 / 61%);
}

#Roda_Pe {
    font-size: 11px;
    width: 100%;
    height: 66px;
    position: absolute;
    align-items: center;
    margin: 3521px 0px 0px 0px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

#direitos{
    margin: 18px 0px 0px 0px;
}