footer{
    width: 100%;
    height: 200px;
    position: absolute;
    background: blueviolet;
    
}
.Contact{
    margin: 100px 0px 0px 297px;
    color: white;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: xxx-large;
}

#Email{
    width: 279px;
    height: 30px;
    border-radius: 8px;
    border-style: none;
    margin: 211px 0px 0px 256px;
    background: blueviolet;
    outline: none;
    color: white;
    font-size: medium;
}

#Email::placeholder{
    color: white;
}