/*Portfolio*/
#Third_Section{
    width: 100%;
    height: 395px;
    display: inline-block;
    text-align: center;
    position: absolute;
    margin: 1970px 0px 0px 0px;
}

/*First title inside Portfolio*/
.First_Title{
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    font-size: 52px;
    letter-spacing: 2px;
}

/*Image's inside Portfolio*/
#img-01{
    width: 208px;
    height: 227px;
    margin: 46px 0px 0px 98px;
    position: absolute;
    background: url(https://images.unsplash.com/photo-1493612276216-ee3925520721?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=80);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 17px;
    box-shadow: 0px 38px 41px -29px #4c4a4a99;
}

#img-02{
    width: 208px;
    height: 227px;
    position: absolute;
    margin: 46px 0px 0px 418px;
    background: url(https://images.unsplash.com/photo-1593642702909-dec73df255d7?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 17px;
    box-shadow: 0px 38px 41px -29px #4c4a4a99;
}

#img-03{
    width: 208px;
    height: 227px;
    position: absolute;
    margin: 46px 0px 0px 724px;
    background: url(https://images.unsplash.com/photo-1502014822147-1aedfb0676e0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=375&q=80);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 17px;
    box-shadow: 0px 38px 41px -29px #4c4a4a99;
}

#img-04{
    width: 208px;
    height: 227px;
    position: absolute;
    background: url(https://images.unsplash.com/photo-1558655146-d09347e92766?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=80);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 46px 0px 0px 1020px;
    border-radius: 17px;
    box-shadow: 0px 38px 41px -29px #4c4a4a99;
}

/*Our Team*/
.Fourth_Section{
    width: 100%;
    height: 397px;
    display: inline-block;
    text-align: center;
    position: absolute;
    margin: 2453px 0px 0px 0px;
}

/*Second Title inside Our Team*/
.Second_Title{
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    font-size: 52px;
    letter-spacing: 2px;
}

/*First box inside Our Team */
#First_box{
    width: 208px;
    height: 257px;
    position: absolute;
    background: blueviolet;
    margin: 46px 0px 0px 98px;
    border-radius: 22px 20px 0px 0px;
    box-shadow: 0px 38px 41px -29px #4c4a4a99;
}

/*Image inside First box*/
.First_img{
    width: 208px;
    height: 192px;
    background: url(https://images.unsplash.com/photo-1612831455740-a2f6212eeeb2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 17px 17px 0px 0px;
}

/*Second box inside Our Team*/
#Second_box{
    width: 208px;
    height: 257px;
    position: absolute;
    background: blueviolet;
    margin: 46px 0px 0px 418px;
    border-radius: 22px 20px 0px 0px;
    box-shadow: 0px 38px 41px -29px #4c4a4a99;
}

/*Image Inside Second Box*/
.Second_img{
    width: 208px;
    height: 192px;
    background: url(https://images.unsplash.com/photo-1611593006970-1b8cd8a27873?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 17px 17px 0px 0px;
}

/*Third Box Inside Our Team */
#Third_box{
    width: 208px;
    height: 257px;
    position: absolute;
    background: blueviolet;
    margin: 46px 0px 0px 724px;
    border-radius: 22px 20px 0px 0px;
    box-shadow: 0px 38px 41px -29px #4c4a4a99;
}

/*Image inside Third Box*/
.Third_img{
    width: 208px;
    height: 192px;
    background: url(https://images.unsplash.com/photo-1612476929092-26a78fd1ea89?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=80);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 17px 17px 0px 0px;
}

/*Fourth box Inside Our Team*/
#Fourth_box{
    width: 208px;
    height: 257px;
    position: absolute;
    background: blueviolet;
    margin: 46px 0px 0px 1020px;
    border-radius: 22px 20px 0px 0px;
    box-shadow: 0px 38px 41px -29px #4c4a4a99;
}

/*Image Inside Our Team*/
.Fourth_img{
    width: 208px;
    height: 192px;
    background: url(https://images.unsplash.com/photo-1610662361478-d2def3ffa83b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=80);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 17px 17px 0px 0px;
}

/*Name's General Inside box's */
.Name{
    position: absolute;
    margin: 205px 0px 0px 19px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    letter-spacing: 2px;
    font-style: normal;
    color: white;
}

/*Proficient General Inside box's */
.Proficient{
    position: absolute;
    margin: 224px 0px 0px 19px;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-style: normal;
    letter-spacing: 2px;
    color: white;
}

/*Icons inside box's*/
.icon01{
    width: 15px;
    height: 16px;
    position: absolute;
    background: url(../icons/twitter.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 212px 0px 0px 141px;
}

.icon02{
    width: 15px;
    height: 16px;
    position: absolute;
    background: url(../icons/instagram.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 212px 0px 0px 175px;
}