/*General*/
*{
    margin: 0;
    padding: 0;
}

/*Header*/
#Container{
    width: 100%;
    height: 625px;
    position: absolute;
    background: blueviolet;
}

/*First Title Inside Header*/
.title{
    font-family: 'Roboto', sans-serif;
    position: absolute;
    margin: 262px 0px 0px 187px;
    font-weight: bolder;
    letter-spacing: 1px;
    color: white;
    font-size: 52px;
    width: 374px;
}

/*SubTitle Below First Title Inside Header*/
.subtitle{
    font-family: 'Roboto', sans-serif;
    position: absolute;
    margin: 344px 0px 0px 187px;
    color: white;
    font-size: 19px;
}

/*Button Below SubTitle Inside Header*/
input{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    margin: 430px 0px 0px 288px;
    padding: 7px;
    border-radius: 5px;
    border-style: none;
    background: white;
    letter-spacing: 1px;
    font-size: 12px;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 14px 18px -8px #ffffffa8;
}

/*Image Inside Header*/
.Img {
    width: 630px;
    height: 625px;
    background: url(https://images.unsplash.com/photo-1613672710119-573123221c48?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
    margin: 0px 0px 0px 719px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

/*Block Inside Image*/
.block {
    position: absolute;
    background: blueviolet;
    width: 166px;
    height: 61px;
    margin: 0px 0px 0px 464px;
    border-bottom-left-radius: 5px;
}

/*Icon Facebook Below of the Block Inside Image*/
#facebook{
    width: 34px;
    height: 34px;
    margin: 10px 0px 0px 485px;
    position: absolute;
    background: url(../icons/facebook.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Icon Instagram Below of the Block Inside Image*/
#instagram{
    width: 34px;
    height: 34px;
    margin: 10px 0px 0px 538px;
    position: absolute;
    background: url(../icons/instagram.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Icon Twitter Below of the Block Inside Image*/
#twitter{
    width: 34px;
    height: 34px;
    margin: 10px 0px 0px 592px;
    position: absolute;
    background: url(../icons/twitter.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

/*Logo Inside Header*/
.Your_Logo{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    margin: 12px 0px 0px 25px;
    font-style: normal;
    font-weight: bolder;
    letter-spacing: 1px;
    color: white;
}