@media screen and (max-width: 600px){
    header {
        width: 100%;
        height: 633px;
        background: blueviolet;
        margin-top: 34px;
    }
    nav{
        width: 100%;
        height: 52px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
    }
    ul{
        background: blueviolet;
        position: absolute;
        width: 100%;
        margin: -61px 0px 0px 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #First_title {
        color: white;
        font-family: 'Roboto';
        position: absolute;
        margin: 298px 0px 0px 28px;
    }
    .Second_title {
        position: absolute;
        margin: 357px 0px 0px 29px;
        width: 80.3%;
        font-family: 'Roboto';
        color: white;
    }
    .img{
        width: 100%;
        height: 243px;
        position: absolute;
        background: url(https://images.unsplash.com/photo-1613672710119-573123221c48?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
        background-position: center center;
        margin: 17px 0px 0px 0px;
    }
    .button {
        background: white;
        width: 76px;
        height: 29px;
        outline: none;
        border-style: none;
        margin: 524px 0px 0px 29px;
        position: absolute;
        border-radius: 5px;
    }
    .background {
        width: 100%;
        height: 804px;
        background: black;
        position: absolute;
    }
    #About_agency{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
    }
    #Title_about_agency{
        font-family: 'Roboto';
        color: white;
        position: absolute;
        font-size: 32px;
        margin: 23px 0px 0px 0px;
    }
    #img_About_agency{
        width: 100%;
        height: 295px;
        background: url(https://images.unsplash.com/photo-1520085601670-ee14aa5fa3e8?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=750&q=80);
        background-position: center center;
        margin: 83px 0px 0px 0px;
        position: absolute;
        box-shadow: 10px 10px 15px -2px #58585824;
    }
    #text_about_agency {
        color: white;
        position: absolute;
        margin: 415px 0px 0px 0px;
        font-family: 'Roboto';
        text-align: left;
        width: 80.3%;
    }
    #Our_services {
        width: 100%;
        height: 623px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        justify-content: flex-start;
        color: white;
    }
    .background_serveces {
        width: 100%;
        height: 869px;
        background: blueviolet;
        border-radius: 0px;
        margin: 181px 0px 0px 0px;
        position: absolute;
    }
    .texts_Our_services {
        display: block;
        margin: 231px 0px 0px -425px;
        z-index: 1;
    }
    .Title_Our_services {
        font-family: 'Roboto';
        color: white;
        position: absolute;
        font-size: 32px;
        margin: 203px 0px 0px 0px;
        z-index: 1;
    }
    .texts_Our_services{
        display: block;
        margin: 208px 0px 0px -425px;
    }
    .web_developer {
        width: 242px;
        height: 146px;
        position: absolute;
        margin: 511px 0px 0px 105px;
        font-family: 'Roboto';
    }
    .online_marketing {
        width: 242px;
        height: 146px;
        position: absolute;
        margin: 83px 0px 0px 232px;
        font-family: 'Roboto';
    }
    .web_developer {
        width: 242px;
        height: 146px;
        position: absolute;
        margin: 242px 0px 0px 232px;
        font-family: 'Roboto';
    }
    .web_design {
        width: 242px;
        height: 146px;
        position: absolute;
        margin: 403px 0px 0px 234px;
        font-family: 'Roboto';
    }
    .seo_optimization {
        width: 242px;
        height: 146px;
        position: absolute;
        margin: 562px 0px 0px 240px;
        font-family: 'Roboto';
    }
    #img_Our_services {
        width: 100%;
        position: absolute;
        height: 479px;
        margin: 955px 0px 0px 0px;
        background: url(https://images.unsplash.com/photo-1613324996029-f6190a17838f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
        background-position: center center;
        z-index: 1;
    }


}